{% extends 'base.html.twig' %}


{% block body %}

    <table class="table text-center">
        <tr>
            <th class="active text-center">name</th>
            <th class="active text-center">price</th>
            <th class="active text-center">description</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <a href="#">
                        {{ product.price }}
                    </a>
                </td>
                <td>{{ product.descr }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
   
